<div class="row">
  <div class="col-12 col-md-6">
    <div class="card mb-4">
      <h4 class="h2 card-header">
        Example form in 'View/Readonly' Mode
      </h4>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <span class="label">Input Form Control Example</span>
              <div class="form-control-plaintext">Readonly</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
