<div class="row">
  <div class="col-12 col-md-6">
    <div class="card mb-4">
      <h4 class="h2 card-header">
        Example form in 'View/Readonly' Mode
      </h4>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <span class="label">Input Form Control Example</span>
              <div class="form-control-plaintext">Readonly</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <span class="label">Input Form Disabled Control Example</span>
              <div class="form-control-plaintext">Random Text</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <span class="label">Custom Select Example</span>
              <div class="form-control-plaintext">One</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <span class="label">Custom Select Disabled Example</span>
              <div class="form-control-plaintext">One</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <span class="label">Text Area Example</span>
              <div class="form-control-plaintext">Adding some data to this text area. How should we do with text areas?</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <span class="label">Text Area Disabled Example</span>
              <div class="form-control-plaintext">Adding some data to this disabled text area. How should we do with disabled text areas?</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
